		<footer class="p-2 border-top fs-es d-flex justify-content-between fixed-bottom mt-10  bg-primary">
			<div class="text-white px-2">
				<i class="fa fa-ravelry" aria-hidden="true"></i>
				اجرا و پیاده سازی توسط: اندیشه فناوری اطلاعات قرن
			</div>
			<div class="text-white px-2">

				تمامی حقوق این سایت برای سازمان نظام مهندسی استان قم محفوظ است
				<i class="fa fa-copyright" aria-hidden="true"></i>
			</div>
		</footer>