		<header class="fixed-top mb-10 bg-white">
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm -bg-primary border-bottom  text-white">
				<div class="collapse navbar-collapse d-flex justify-content-between px-5" id="navbarText">
					<span class="navbar-text fs-es">
						<i class="fa fa-square-o fa-lg" aria-hidden="true"></i>
					
						سازمان نظام مهندسی ساختمان استان گلستان
					</span>
					<div>
						<i class="fa fa-bell fa-lg px-2" aria-hidden="true"></i>
						<i class="fa fa-bars fa-lg px-2" aria-hidden="true"></i>
					</div>
				</div>
			</nav>
			<nav class="align-left d-flex justify-content-between border-bottom">
				<div class="nav nav-tabs px-5 " id="nav-tab"  role="tablist">
					<a class="nav-item nav-link" id="nav-financInfo" data-toggle="tab" href="#" role="tab"
						aria-controls="nav-finInfo" aria-selected="true">اطلاعات مالی</a>
					<a class="nav-item nav-link" id="nav-fileInfo" data-toggle="tab" href="#" role="tab"
						aria-controls="nav-profile" aria-selected="false">اطلاعات پرونده</a>
				</div>
				<div id="tab-title" class="py-2 px-5">
				
				</div>
			</nav>
		</header>