<div class="card">
	<div class="card-body">
		<div id="dataGrid"></div>
	</div>
</div>
    <script type="text/javascript"> 

        $(document).ready(function () {
		
		$("#dataGrid").dxDataGrid({
			
			dataSource: "/FileInfo/getDisabledCredentials",
			        paging: {
            pageSize: 10
        },
		showBorders:true,

			        columns: [{
            dataField: "StartDate",
			caption:"تاریخ شروع",

        }, {
            dataField: "EndDate",
			caption:"تاریخ پایان",

        }, {
            dataField: "OrganizationalField", 
            caption:"رشته سازمانی",

        }, {
            dataField: "TypeOfCompetence", 
            caption:"نوع صلاحیت",

        },
		 {
            dataField: "ShareAndWork",
            caption:"سهم",


        },
		 {
            dataField: "DateOfRegistration",
            caption:"تاریخ ثبت",


        },
		 {
            dataField: "Description",
            caption:"توضیح",


        },
		],
			
		
		});

        });
 
   </script>


